page-login {
  img {
    height: 256px;
    width: 256px;
    margin: 0 auto;
  }
  .scroll-content {
    text-align: center;
  }
  div.card {
    margin: 20px;
  }
  div.field {
    height: 50px;
    margin-top: 20px;
    input {
      height: 100%;
      width: 100%;
      font-size: x-large;
      text-align: center;
      border: 1px solid #f77300;
    }
  }
  button.button-md {
    margin-top: 20px;
    height: 50px;
    box-shadow: none;
    border-radius: 0;
  }
  input::-moz-placeholder {
    text-align: center;
  }
  input:-moz-placeholder {
    text-align: center;
  }
  *::-webkit-input-placeholder {
    text-align: center;
  }
  *:-ms-input-placeholder {
    text-align: center;
  }
  *:-moz-placeholder {
    text-align: center;
  }
}
