page-game {
  .background {
    background-image: url('../../assets/logo-acbb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 96px;
    overflow-x: hidden;
    color: rgb(26, 23, 27);
    font-size: medium;
  }
  .scroll-content {
    text-align: center;
  }
  div.card {
    margin: 20px;
    margin-top: 200px;
  }
  div.field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid #f77300;
    label {
      width: 60%;
      font-size: x-large;
      margin: auto;
    }
    input {
      height: 100%;
      width: 40%;
      font-size: x-large;
      text-align: center;
      border: 1px solid #f77300;
      border-bottom: none;
    }
  }
  button.button-md {
    margin-top: 20px;
    height: 50px;
    box-shadow: none;
    border-radius: 0;
  }
  input::-moz-placeholder {
    text-align: center;
  }
  input:-moz-placeholder {
    text-align: center;
  }
  *::-webkit-input-placeholder {
    text-align: center;
  }
  *:-ms-input-placeholder {
    text-align: center;
  }
  *:-moz-placeholder {
    text-align: center;
  }
}
